@namespace DotNetLabs.Blazor.Components.Laboratorios.Objective

@using DotNetLabs.Blazor.Models.Laboratorios.Enums

<section class="lab-objective @ClasseObjective">
    <div class="lab-objective-header">
        <div class="lab-objective-icone">
            <i class="bi bi-bullseye"></i>
        </div>

        <div>
            <h3>@Titulo</h3>

            @if (!string.IsNullOrWhiteSpace(Descricao))
            {
                <p>@Descricao</p>
            }
        </div>
    </div>

    <ul class="lab-objective-lista">
        @ChildContent
    </ul>
</section>

@code {
    [CascadingParameter]
    public ModoLaboratorio ModoAtual { get; set; }

    private string ClasseObjective => ModoAtual switch
    {
        ModoLaboratorio.Apresentacao => "modo-apresentacao",
        ModoLaboratorio.Professor => "modo-professor",
        _ => "modo-estudo"
    };

    [Parameter]
    public string Titulo { get; set; } = "Objetivos deste laboratório";

    [Parameter]
    public string? Descricao { get; set; } = "Ao finalizar este laboratório você será capaz de:";

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}