@namespace DotNetLabs.Blazor.Components.Laboratorios.Alerts

@using DotNetLabs.Blazor.Models.Laboratorios.Enums;

<div class="@ClasseModo">

    <div class="lab-alert-icon">
        <i class="@Icone"></i>
    </div>

    <div class="lab-alert-content">
        @ChildContent
    </div>

</div>

@code {

    [Parameter]
    public string Titulo { get; set; } = "Dica";

    [Parameter]
    public string Tipo { get; set; } = "info";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private string Icone =>
        Tipo switch
        {
            "success" => "bi bi-check-circle-fill",
            "warning" => "bi bi-exclamation-triangle-fill",
            "danger" => "bi bi-x-octagon-fill",
            "info" => "bi bi-info-circle-fill",
            _ => "bi bi-info-circle-fill"
        };

    [CascadingParameter]
    public ModoLaboratorio ModoAtual { get; set; } = ModoLaboratorio.Estudo;

    private string ClasseModo => ModoAtual switch
    {
        ModoLaboratorio.Apresentacao => "lab-alert lab-alert-apresentacao",
        ModoLaboratorio.Professor => "lab-alert lab-alert-professor",
        _ => "lab-alert"
    };

    private string ClasseAlerta => $"{ClasseModo} lab-alert-{Tipo}";
}