@namespace DotNetLabs.Blazor.Components.LabComponentes.Objective

<li class="lab-objective-item">

    <span class="lab-objective-item__icon">
        <i class="bi bi-check2"></i>
    </span>

    <div class="lab-objective-item__content">
        @ChildContent
    </div>

</li>

@code {

    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }

}