@page "/"

@using DotNetLabs.Blazor.Components.Common;


<PageTitle>Home</PageTitle>

<section class="hero">
    <h1>🚀 Bem-vindo ao DotNetLabs</h1>

    <p class="lead">
        Aprenda .NET explorando laboratórios práticos, documentação de qualidade
        e exemplos executáveis.
    </p>

    <p>
        O DotNetLabs é uma plataforma colaborativa criada para transformar conceitos
        técnicos em experiências práticas de aprendizado.
    </p>

    <a class="btn btn-primary btn-lg px-5" href="/laboratorios">
        🧪 Explorar Laboratórios
    </a>
</section>

<section>
    <h2 class="section-title">Sua jornada de aprendizado começa aqui</h2>

    <div class="row mt-3">
        <div class="col-md-4 mb-3">
            <CardInfo Icone="🧪"
                      Titulo="Laboratórios práticos"
                      Descricao="Demonstrações executáveis para aprender conceitos de forma visual e interativa." />
        </div>

        <div class="col-md-4 mb-3">
            <CardInfo Icone="📚"
                      Titulo="Documentação"
                      Descricao="Explicações claras para entender o problema, a solução e boas práticas." />
        </div>

        <div class="col-md-4 mb-3">
            <CardInfo Icone="🤝"
                      Titulo="Colaboração"
                      Descricao="Uma base para o time compartilhar conhecimento, apresentações e estudos." />
        </div>
    </div>
</section>