@page "/laboratorios"

@using DotNetLabs.Blazor.Components.Laboratorios.Cards
@using DotNetLabs.Shared.Laboratorios;

<PageTitle>Laboratórios</PageTitle>

<section class="hero">

    <h1>🧪 Laboratórios</h1>

    <p class="lead">
        Explore os laboratórios disponíveis no DotNetLabs.
    </p>

    <p>
        Escolha um laboratório e aprenda .NET através de demonstrações práticas.
    </p>

</section>

<div class="row cards">
    @foreach (var laboratorio in laboratorios)
    {
        <div class="col-md-4 mb-3">
            <LaboratorioCardItem Laboratorio="laboratorio" />
        </div>
    }
</div>

@code {
    private readonly IReadOnlyList<MetadadosLaboratorio> laboratorios = CatalogoLaboratorios.ObterTodos();
}
